@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans+Syloti+Nagri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:  #f5f5f5  ;
}
header{
    position: relative;
    display: block;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    background-color: #1e1e1e;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
}
nav{
    float: right;
    display: block;

}

nav ul{
    list-style: none;
    overflow: hidden;
}

nav ul li{
    float: left;
    font-size: 15px;
    
    padding-right: 18px;
    padding-bottom: 7px;
    padding-top: 7px;
}

nav ul li a{
    display: block;
    color: #ffff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.game{
    border-radius: 35px;
    padding: 8px;
    background: linear-gradient(90deg, rgba(203,0,151,1) 0%, rgba(255,87,32,1) 100%);
}

.definitions{
    border-radius: 35px;
    padding: 8px;
    background: linear-gradient(90deg, rgba(203,0,151,1) 0%, rgba(255,87,32,1) 100%);

}
.logo{
    position: absolute;
    height: 36px;
    width: 36px;
    left: 10px;
    top:3px;
}

.title{

    display: flex;
    font-size: 33px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    border: 3px solid slateblue;
    margin: 10px;
}

.description{
    display: flex;
    text-align:center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border: 3px solid slateblue;
    margin: 15px;
}

.boton{
    display: flex;
    text-align:center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    border: none;
    padding: 7px;
    color: #ffff;
    background: linear-gradient(90deg, rgba(203,0,151,1) 0%, rgba(255,87,32,1) 100%);
    box-shadow: 2px 2px 5px #999;
    align-self: center;
    margin: 15px;


}



.information{
    display: flex;
    border: 3px solid aqua;
    top: 50px;
    flex-wrap: nowrap;
    flex-direction: column;
}

table {
    display: flex;
    border: 2px solid  #1e1e1e ;
    text-align: center;
    border-collapse: collapse;


 }

.table-container{
    position:relative;
    display:flex;
    width: 90vw;
    height: 90vh;
    border: 3px solid slateblue;
    top: 50px;
    left: 50px;

}




 tr, td {
    height: 15px;
    width: 10px;

 }

tr:nth-child(even){
    background-color:  #e2e2e2 ;
}

.default td {
    width: 40px; /*Aquí va el ancho de la Celda*/
    height: 40px ; /*Aquí el Alto*/
}

a{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: #1e1e1e;
    font-weight: 2px;
}

.enunciado{

    position: absolute;
    top: 700px;
    left: 45%;
    font-size:30px ;
    
    font-family: 'Josefin Sans', sans-serif;

}

.definiciones1{
    position: absolute;
    top: 750px;
    left: 3%;
    right: 50%;
}

.definiciones2{
    position: absolute;
    top: 750px;
    left: 50%;
    right: 3%;
}

.definiciones1> div{
    padding:20px;
    text-align: justify;
    border: 0.5px solid #868686;
    margin: 12px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px 2px lightgrey;
    -moz-box-shadow: 0 0 5px 2px lightgrey;
    box-shadow: 0 0 5px 2px lightgrey;
}

.definiciones2> div{
    padding:10px;
    text-align: justify;
    border: 0.5px solid #868686;
    margin: 12px;
    border-radius: 10px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px 2px lightgrey;
    -moz-box-shadow: 0 0 5px 2px lightgrey;
    box-shadow: 0 0 5px 2px lightgrey;
}

p{
    font-family: 'Montserrat', sans-serif;  
}

h4{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.bibliography{
    color:#9d00d8 ;
    font-family: 'Josefin Sans', sans-serif;

}

.bibliography2{
    font-size: 12px;
}

.section{
    font-size: 12px;
    padding-top: 5px;
}



